 /* Google font styles  */
body{font-family: 'Poppins', sans-serif;}
.color-1{
    color: #1f1f1f;
}
.color-2{
    color: #FF136F;
    font-weight: 500;
}
.color-3{
    color: white;
    background-color: #ff136f;
    border-radius: 6px;
    font-weight: 400;
}
.color-4{
    background-color: #FEEAE9;
}
.round1{
    border-radius: 10px;
}
.nav-scarch{
    width: 500px;
    background-color: #f1f1f1;
    border-radius: 25px;
}
.gaps{
    margin-top: 20px;
    margin-bottom: 20px;

}